@font-face {
    font-family: "Quicksand";
    src: url("Quicksand/Quicksand-VariableFont_wght.ttf") format("truetype");
}

body {
    margin: 0;
    height: 100vh;
    background-color: #1d1d1d;
    background-size: 400% 400%;
    overflow: hidden;
}

canvas {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}

.theme {
    float: right;
    width: 5%;
    height: 9%;
    padding: 10px;
  }

.crescent {
    position: absolute; 
    top: 5%; 
    left: 97%; 
    transform: translate(-50%, -50%); 
    height: 25px; 
    width: 25px; 
    box-shadow: -6px 6px 0 2px #636161e7;
    border-radius: 50%; 
}
.crescent:hover {
    box-shadow: -6px 6px 0 2px #000000; 
}

.sun {
    --s: 7px;
    --o: 5px;
    --c: #ffffffe7;
    --w: 3px;
    position: absolute; 
    top: 15%; 
    left: 15%;
    --grad: transparent calc(50% - var(--w)/2), 
          var(--c) calc(50% - var(--w)/2 + 1px) 
                   calc(50% + var(--w)/2 - 1px), 
           transparent calc(50% + var(--w)/2);
    
    margin: calc(var(--s) + var(--o) + 10px);
    width: 12px;
    height: 12px;
    display: inline-block;
    border: 2px solid #ffffffe7;
    border-radius: 50%;
    position: relative;
}
.sun::before {
    content: "";
    position: absolute;
    top: calc(-1*var(--s) - var(--o));
    bottom: calc(-1*var(--s) - var(--o));
    left: calc(-1*var(--s) - var(--o));
    right: calc(-1*var(--s) - var(--o));
    border-radius: inherit;
    background:
        linear-gradient(0deg   ,var(--grad)),
        linear-gradient(45deg  ,var(--grad)),
        linear-gradient(-45deg ,var(--grad)),
        linear-gradient(90deg  ,var(--grad));
    -webkit-mask: radial-gradient(farthest-side,transparent calc(100% - var(--s)),#fff calc(100% - var(--s)));
    mask: radial-gradient(farthest-side,transparent calc(100% - var(--s)),#fff calc(100% - var(--s)));
}
.sun:hover {
    --c: #ffe600e7;
    border: 2px solid #ffe600e7;
}

.buttons {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-left: 15%;
    padding-right: 9%;
    padding-top: 5%;
}

.button {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    background: #002fffc2;
    background-size: cover;
}

.buttons .button:hover {
    background: #6200fff6;
    background-size: cover;
}

#b1 {
    background-image: url("assets/github.png");
}
#b2 {
    background-image: url("assets/flask.png");
}
#b3 {
    background-image: url("assets/linkedin.png");
}

.container {
    align-self: center;
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    height: 60%;
    border-radius: 40px;
    border: 5px solid #002fff9a;
    overflow: hidden;
}

.content {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 50px;
    color: #b700ffc2;
}